{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div class="ui container">
    <div class="ui piled segment">
        <h1 class="ui header">
            {% trans "Sign Up" %}
        </h1>

        <div class="sub header">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</div>

        <form class="signup ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}

          {% for field in form %}
            <div class="field">
            {{ field }}
            </div>
          {% endfor %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="ui button primary">{% trans "Sign Up" %} &raquo;</button>
        </form>

    </div>
</div>
{% endblock %}
