<div class="ui raised centered card">
    {% if post.image %}
    <a class="image" href="{% url 'posts:detail' post.slug %}">
        <img src="{{ post.image.url }}">
    </a>
    {% endif %}
    <div class="content">
        <a href="{% url 'posts:detail' post.slug %}" class="header">
        {{ post.title }}
        </a>

        <div class="meta">
          <span class="date">
                <i class="calendar icon"></i> {{ post.pub_date | timesince }} ago
          </span>
        </div>
        <div class="description">
            {{ post.content | safe|escape|truncatechars_html:350 }}
        </div>
    </div>
    <div class="extra content">

        <div class="left floated">
            {% if post.tags.all|length > 0 %}
                <i class="ui tags icon"></i>
                {% for tag in post.tags.all %}
                <a href="{% url 'posts:tag' tag %}">
                {{ tag }}
                </a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="right floated">
            <i class="comments icon"></i> 
            <a href="{% url 'posts:detail' post.slug %}#comments">
                {{ post.comment_set.all|length }} comments
            </a>
        </div>
    </div>
</div>