{% extends 'layout.html' %}
{% load static %}
{% load blog_extras %}

{% block custom_css %}
<link href="{% static 'css/comments.css' %}" rel="stylesheet">
{% endblock %}

{% block pagetitle %}
Volrac's latest posts.
{% endblock %}

{% block content %}

<div class="ui container">
    <div class="ui piled segment">
      <h1 class="ui header">
      {% if post.image %}
        <div class="ui middle aligned image">
            <a href="{{ post.image.url }}" target="_blank">
                <img src="{{ post.image.url }}">
            </a>
        </div>
        {% endif %}
      {{ post.title|escape|safe }}
      </h1>
      <div class="sub header">
      Posted by <strong>{{ post.user|full_or_username }}</strong> on {{ post.pub_date|date:"M d, Y h:i a" }}
      </div>
      <div class="sub header">
        {% if post.categories.all|length > 0 %}
        <i class="folder open outline icon"></i>
        {% endif %}
        {% for category in post.categories.all %}
          <a href="{% url 'categories:detail' category.slug %}">{{ category.title }}</a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
      <hr>
      {{ post.content|escape|safe }}
    </div>

    {% include 'comments/list.html' with post=post %}

    {% include 'comments/new.html' with post=post %}
</div>

{% endblock %}
