{% extends 'layout.html' %}
{% load static %}

{% block custom_css %}
<link href="{% static 'css/comments.css' %}" rel="stylesheet">
{% endblock %}

{% block pagetitle %}
Volrac's latest posts.
{% endblock %}

{% block content %}

<div class="ui container">
    <div class="ui piled segment">
      <h1 class="ui header">{{ post.title|escape|safe }}</h1>
      <div class="sub header">Written by <a href="#">John Smith</a> on February 12, 2014.</div>
      <hr>
      {{ post.content|escape|safe }}
    </div>

    {% include 'comments/list.html' with post=post %}

    {% include 'comments/new.html' with post=post %}
</div>

{% endblock %}
