{% extends 'layout.html' %}
{% load static %}

{% block custom_css %}
<link href="{% static 'css/comments.css' %}" rel="stylesheet">
{% endblock %}

{% block pagetitle %}
Volrac's latest posts.
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>{{ post.title|escape|safe }}</h1>
            <p>
            {{ post.content|escape|safe }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h3 id="comments">Comments</h3>
            {% for comment in post.comment_set.all %}
                <div class="row">
                    <div class="col-xs-1">
                        <img src="http://www.gravatar.com/avatar/?d=mm&s=200" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ comment.user.username }}</strong> <span class="text-muted">commented {{ comment.pub_date | timesince }} ago</span>
                            </div>
                            <div class="panel-body">
                            {{ comment.message|safe|escape }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col-sm-12">
                    <h4>New Comment</h4>
                    <form method="POST" action="{% url 'comments:add' post.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                        <textarea placeholder="Message" name="message" class="form-control" rows="5"></textarea>
                        <br />
                        <button class="btn btn-primary">Add Comment</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
