{% extends base|default:'blank.html' %}
{% load blog_extras %}
{% block content %}
{% if user.is_authenticated and user|has_group:"publisher" %} 

<div class="ui standard modal">

    <i class="close icon"></i>
    <div class="header">
        New Post
    </div>
    
    <div class="content">
        <div class="description">
            <form method="POST" action="{% url 'posts:new' %}" class="ui form" id="new_comment">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}" />
            <div class="field">
                <input type="text" name="title" placeholder="Title" required>
            </div>
            <div class="field">
                <textarea name="content" class="form-control" placeholder="Content" rows="5" required></textarea>
            </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button class="ui green button" form="new_comment">Submit</button>
    </div>

</div>

{% else %}
    {% if base == 'layout.html' %}
        <div class="container">
            <div class="alert alert-danger">
              <strong>Error!</strong> You are not allowed to create a new post.
            </div>
        </div>
    {% endif %}
{% endif %}
{% endblock %}