{% load blog_extras %}

<div class="ui comments" id="comments">
    {% if post.comment_set.all|length > 0 %}
    <h3 class="ui dividing header">Comments</h3>
    {% for comment in post.comment_set.all %}
      <div class="comment">
        <a class="avatar">
            {% if comment.user.socialaccount_set.first.get_avatar_url %}
                <img src="{{ comment.user.socialaccount_set.first.get_avatar_url }}" class="img-responsive img-circle comment-avatar" />
            {% else %}
                <img src="http://www.gravatar.com/avatar/?d=mm&s=200" class="img-responsive img-circle comment-avatar" />
            {% endif %}
        </a>
        <div class="content">
        <a class="author"
        {% if comment.user.socialaccount_set.first.get_profile_url %}
        href="{{ comment.user.socialaccount_set.first.get_profile_url }}"
        {% endif %}
        >
        {{ comment.user|full_or_username }}
        </a>
          <div class="metadata">
            <div class="date">{{ comment.pub_date | timesince }} ago</div>
          </div>
          <div class="text">
            {{ comment.message|safe|escape }}
          </div>
        </div>
      </div>
    {% endfor %}

    {% endif %}
</div>