<div class="ui comments">
<br />
<h3 class="ui dividing header">New Comment</h3>
    {% if user.is_authenticated %}
    <form class="ui reply form" method="POST" action="{% url 'comments:add' post.id %}">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}" />
        <div class="field">
          <textarea name="message" placeholder="Message"></textarea>
        </div>
        <button class="ui primary submit labeled icon button">
          <i class="icon edit"></i> Add Comment
        </button>
    </form>
    {% else %}
    <form class="ui reply form"
    <div class="field">
      <textarea name="message" placeholder="Message" disabled></textarea>
    </div>
    <a href="{% url 'account_login' %}?next={{request.path}}" class="ui primary submit labeled icon button">
      <i class="icon edit"></i> Sign-in to Comment
    </a>
    </form>
    {% endif %}
</div>