<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h4>New Comment</h4>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'comments:add' post.id %}">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}" />
            <textarea placeholder="Message" name="message" class="form-control" rows="5" required></textarea>
            <br />
            <button class="btn btn-primary">Add Comment</button>
        </form>
        {% else %}
        <textarea placeholder="Message" name="message" class="form-control" rows="5" disabled></textarea>
        <br />
        <a href="/accounts/login/?next={{request.path}}" class="btn btn-primary">Log in to Comment</a>
        {% endif %}
    </div>
</div>